# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# local env files
.env
.env*.local
.env.local
serviceAccountKey-android.json
serviceAccountKey-web.json
.env.local2


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#books
/books
/books/


# brain files (Antigravity artifacts) - Optional, keep if you want to exclude or include
# C:\Users\Danilo_Borges\.gemini\antigravity\brain\
